* {
  box-sizing: border-box;
}
.container img {
  width: 30%;
  height: 20%;
}

body {
  font-family: Times;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
li {
  list-style: none;
}
a:hover {
  color: black;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: cadetblue;
  color: #fff;
}
.links a {
  color: #fff;
}
.nav-bar {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.nav-bar li:hover {
  background-color: teal;
  border-radius: 5px;
  transition: 0.3s ease;
}
.nav-bar li {
  padding: 5px 14px;
}
.container_1 {
  display: flex;
  margin-top: 10px;
  margin-right: 5px;
}
.container_1 img {
  width: 50%;
  margin-right: 25px;
}
.container_2 {
  display: flex;
  margin-top: 10px;
  margin-right: 5px;
}
.container_2 img {
  width: 100%;
  height: 20%;
  margin-left: 3px;
}
